@tailwind base;
@tailwind components;
@tailwind utilities;

.particle {
    position: absolute;
    border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        transform: translate3d(24vw, 39vh, 84px);
    }
}

@keyframes particle-animation-1 {
    100% {
        transform: translate3d(24vw, 39vh, 84px);
    }
}
.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.21;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    transform: translate3d(10vw, 60vh, 82px);
    background: #26d99d;
}

@-webkit-keyframes particle-animation-2 {
    100% {
        transform: translate3d(89vw, 59vh, 26px);
    }
}

@keyframes particle-animation-2 {
    100% {
        transform: translate3d(89vw, 59vh, 26px);
    }
}
.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.68;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    transform: translate3d(48vw, 41vh, 5px);
    background: #26d991;
}

@-webkit-keyframes particle-animation-3 {
    100% {
        transform: translate3d(67vw, 45vh, 40px);
    }
}

@keyframes particle-animation-3 {
    100% {
        transform: translate3d(67vw, 45vh, 40px);
    }
}
.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.76;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    transform: translate3d(46vw, 19vh, 2px);
    background: #d97a26;
}

@-webkit-keyframes particle-animation-4 {
    100% {
        transform: translate3d(50vw, 39vh, 92px);
    }
}

@keyframes particle-animation-4 {
    100% {
        transform: translate3d(50vw, 39vh, 92px);
    }
}
.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.87;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    transform: translate3d(85vw, 52vh, 12px);
    background: #d9b226;
}

@-webkit-keyframes particle-animation-5 {
    100% {
        transform: translate3d(52vw, 37vh, 12px);
    }
}

@keyframes particle-animation-5 {
    100% {
        transform: translate3d(52vw, 37vh, 12px);
    }
}
.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.32;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(81vw, 42vh, 52px);
    background: #26c1d9;
}

@-webkit-keyframes particle-animation-6 {
    100% {
        transform: translate3d(23vw, 76vh, 96px);
    }
}

@keyframes particle-animation-6 {
    100% {
        transform: translate3d(23vw, 76vh, 96px);
    }
}
.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.5;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(28vw, 71vh, 24px);
    background: #2659d9;
}

@-webkit-keyframes particle-animation-7 {
    100% {
        transform: translate3d(82vw, 6vh, 27px);
    }
}

@keyframes particle-animation-7 {
    100% {
        transform: translate3d(82vw, 6vh, 27px);
    }
}
.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: 1;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(3vw, 17vh, 50px);
    background: #d9b226;
}

@-webkit-keyframes particle-animation-8 {
    100% {
        transform: translate3d(8vw, 23vh, 90px);
    }
}

@keyframes particle-animation-8 {
    100% {
        transform: translate3d(8vw, 23vh, 90px);
    }
}
.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: 0.18;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(40vw, 41vh, 73px);
    background: #d92656;
}

@-webkit-keyframes particle-animation-9 {
    100% {
        transform: translate3d(87vw, 24vh, 92px);
    }
}

@keyframes particle-animation-9 {
    100% {
        transform: translate3d(87vw, 24vh, 92px);
    }
}
.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: 0.16;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(56vw, 45vh, 33px);
    background: #26d994;
}

@-webkit-keyframes particle-animation-10 {
    100% {
        transform: translate3d(32vw, 71vh, 8px);
    }
}

@keyframes particle-animation-10 {
    100% {
        transform: translate3d(32vw, 71vh, 8px);
    }
}
.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: 0.18;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(64vw, 21vh, 50px);
    background: #d9b826;
}

@-webkit-keyframes particle-animation-11 {
    100% {
        transform: translate3d(44vw, 86vh, 55px);
    }
}

@keyframes particle-animation-11 {
    100% {
        transform: translate3d(44vw, 86vh, 55px);
    }
}
.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 0.95;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(35vw, 62vh, 98px);
    background: #a026d9;
}

@-webkit-keyframes particle-animation-12 {
    100% {
        transform: translate3d(46vw, 24vh, 36px);
    }
}

@keyframes particle-animation-12 {
    100% {
        transform: translate3d(46vw, 24vh, 36px);
    }
}
.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: 0.44;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(87vw, 67vh, 65px);
    background: #26cad9;
}

@-webkit-keyframes particle-animation-13 {
    100% {
        transform: translate3d(89vw, 71vh, 82px);
    }
}

@keyframes particle-animation-13 {
    100% {
        transform: translate3d(89vw, 71vh, 82px);
    }
}
.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: 0.32;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(74vw, 5vh, 2px);
    background: #26d96b;
}

@-webkit-keyframes particle-animation-14 {
    100% {
        transform: translate3d(76vw, 43vh, 39px);
    }
}

@keyframes particle-animation-14 {
    100% {
        transform: translate3d(76vw, 43vh, 39px);
    }
}
.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: 0.54;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(22vw, 8vh, 32px);
    background: #d9b526;
}

@-webkit-keyframes particle-animation-15 {
    100% {
        transform: translate3d(31vw, 23vh, 13px);
    }
}

@keyframes particle-animation-15 {
    100% {
        transform: translate3d(31vw, 23vh, 13px);
    }
}
.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: 0.65;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(69vw, 13vh, 14px);
    background: #26d9b5;
}

@-webkit-keyframes particle-animation-16 {
    100% {
        transform: translate3d(8vw, 89vh, 58px);
    }
}

@keyframes particle-animation-16 {
    100% {
        transform: translate3d(8vw, 89vh, 58px);
    }
}
.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: 0.82;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(86vw, 77vh, 53px);
    background: #d9a326;
}

@-webkit-keyframes particle-animation-17 {
    100% {
        transform: translate3d(6vw, 48vh, 3px);
    }
}

@keyframes particle-animation-17 {
    100% {
        transform: translate3d(6vw, 48vh, 3px);
    }
}
.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: 0.04;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(76vw, 69vh, 8px);
    background: #2694d9;
}

@-webkit-keyframes particle-animation-18 {
    100% {
        transform: translate3d(57vw, 15vh, 31px);
    }
}

@keyframes particle-animation-18 {
    100% {
        transform: translate3d(57vw, 15vh, 31px);
    }
}
.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: 0.09;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(84vw, 36vh, 87px);
    background: #ac26d9;
}

@-webkit-keyframes particle-animation-19 {
    100% {
        transform: translate3d(53vw, 26vh, 87px);
    }
}

@keyframes particle-animation-19 {
    100% {
        transform: translate3d(53vw, 26vh, 87px);
    }
}
.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: 0.16;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(89vw, 47vh, 16px);
    background: #264dd9;
}

@-webkit-keyframes particle-animation-20 {
    100% {
        transform: translate3d(71vw, 23vh, 19px);
    }
}

@keyframes particle-animation-20 {
    100% {
        transform: translate3d(71vw, 23vh, 19px);
    }
}
.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: 0.53;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(17vw, 34vh, 88px);
    background: #268bd9;
}

@-webkit-keyframes particle-animation-21 {
    100% {
        transform: translate3d(36vw, 7vh, 74px);
    }
}

@keyframes particle-animation-21 {
    100% {
        transform: translate3d(36vw, 7vh, 74px);
    }
}
.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: 0.61;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(11vw, 57vh, 72px);
    background: #264ad9;
}

@-webkit-keyframes particle-animation-22 {
    100% {
        transform: translate3d(67vw, 12vh, 8px);
    }
}

@keyframes particle-animation-22 {
    100% {
        transform: translate3d(67vw, 12vh, 8px);
    }
}
.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: 0.16;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(77vw, 20vh, 69px);
    background: #d97a26;
}

@-webkit-keyframes particle-animation-23 {
    100% {
        transform: translate3d(37vw, 41vh, 87px);
    }
}

@keyframes particle-animation-23 {
    100% {
        transform: translate3d(37vw, 41vh, 87px);
    }
}
.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: 0.97;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(14vw, 15vh, 24px);
    background: #77d926;
}

@-webkit-keyframes particle-animation-24 {
    100% {
        transform: translate3d(34vw, 81vh, 12px);
    }
}

@keyframes particle-animation-24 {
    100% {
        transform: translate3d(34vw, 81vh, 12px);
    }
}
.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: 0.58;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(87vw, 70vh, 4px);
    background: #d9c426;
}

@-webkit-keyframes particle-animation-25 {
    100% {
        transform: translate3d(57vw, 19vh, 90px);
    }
}

@keyframes particle-animation-25 {
    100% {
        transform: translate3d(57vw, 19vh, 90px);
    }
}
.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: 0.73;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(48vw, 42vh, 1px);
    background: #26d980;
}

@-webkit-keyframes particle-animation-26 {
    100% {
        transform: translate3d(23vw, 23vh, 1px);
    }
}

@keyframes particle-animation-26 {
    100% {
        transform: translate3d(23vw, 23vh, 1px);
    }
}
.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: 0.16;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(59vw, 68vh, 1px);
    background: #26d96b;
}

@-webkit-keyframes particle-animation-27 {
    100% {
        transform: translate3d(49vw, 72vh, 26px);
    }
}

@keyframes particle-animation-27 {
    100% {
        transform: translate3d(49vw, 72vh, 26px);
    }
}
.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 0.69;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(5vw, 88vh, 67px);
    background: #d92680;
}

@-webkit-keyframes particle-animation-28 {
    100% {
        transform: translate3d(21vw, 38vh, 18px);
    }
}

@keyframes particle-animation-28 {
    100% {
        transform: translate3d(21vw, 38vh, 18px);
    }
}
.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: 0.35;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(35vw, 60vh, 69px);
    background: #26acd9;
}

@-webkit-keyframes particle-animation-29 {
    100% {
        transform: translate3d(66vw, 90vh, 55px);
    }
}

@keyframes particle-animation-29 {
    100% {
        transform: translate3d(66vw, 90vh, 55px);
    }
}
.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: 0.78;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(81vw, 79vh, 17px);
    background: #b826d9;
}

@-webkit-keyframes particle-animation-30 {
    100% {
        transform: translate3d(37vw, 49vh, 55px);
    }
}

@keyframes particle-animation-30 {
    100% {
        transform: translate3d(37vw, 49vh, 55px);
    }
}
.particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
    animation: particle-animation-30 60s infinite;
    opacity: 0.41;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    transform: translate3d(51vw, 9vh, 87px);
    background: #35d926;
}